{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> WORDSIGHT </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
    <script src="https://cdn.tailwindcss.com"></script>    <script>
        (function(d) {
          var config = {
            kitId: 'zrj2esy',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <script>
        tailwind.config = {
            content: [
                'wordsight_front/templates/**/*.{html,js}',
                'wordsight_front/templates/*.{html,js}',
            ],
            theme: {
                extend: {
                    boxShadow: {
                        '3xl' : '0px 0px 20px 0px rgba(0, 0, 0, 0.1)',
                        "4xl" : '0px 0px 40px 0px rgba(0, 0, 0, 0.1)',
                    },
                    colors: {
                        "point1" : "#EF4444",
                        "point2" : "#F97316",
                        "point3" : "#F59E0B",
                        "point4" : "#84CC16",
                        "point5" : "#22C55E",
                        "point6" : "#06B6D4",
                        "point7" : "#3B82F6",
                        "point8" : "#6366F1",
                        "point9" : "#8B5CF6",
                        "point10" : "#D946EF",
                        "active-gray" : "#757575",
                        "gray-line": "#BDBDBD",
                        "mustard" : "#F39C12",
                        "bright-red": "#E74C3C"
                    }
                },
                borderRadius: {
                    "lg":"8px",
                    "2xl": "12px",
                    "3xl": "24px",
                    "4xl": "32px",
                }
            }
        }
    </script>
    <script>
        function showfilter(values) {   
            fetch(`/getNews/values=${values}`)
            .then(response => response.text())
            .then(text => {
                console.log(values);
                document.querySelector('#news-display').innerHTML = text;
            });
        }
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('div[name="interest_tag_div"],div[name="agency_tag_div"]').forEach(element => {
                element.onclick = function() {
                    var selected = []
                    document.querySelectorAll('input[name="interest_tag"], input[name="agency_tag"]').forEach(element => {
                        if (element.checked) {
                            selected.push(element.value);
                        }
                    });
                    showfilter(selected.join(','));
                }
            })
        });
    </script>
</head>
<body>
    {% include "partial/header.html"%}
    {% if request.path == "/"  %}
        {% include "partial/intro.html" %}
    {% endif %}
    {% include "partial/search.html" %}
    {% block content%}
        <section id="news-cards" class="w-full max-w-[1080px] flex flex-row my-10">
            {%include "partial/newsDisplay.html"%}
            {%include "partial/newsCardFilter.html"%}
        </section>
    {% endblock%}
    {% include "partial/footer.html"%}
</body>
</html>