{% extends 'base.html' %}
<!--키워드 분석페이지-->
{% load mathfilters %}
{% block content%}
<style>
    .graph-bar{
        animation: progres 1.5s ease-in-out;
    }
    @keyframes progres{
        0%{
            width: 0%;
        }
        100%{
            width: var(--width);
    }
    @media (max-width: 768px) {
        .insight-main {
            width: 100%;
            grid-row: 2;
        }
        .insight-wordcloud {
            width: 100%;
            grid-row: 1;
        }
        .insight-wrap {
            grid-template-columns: 1fr;
            grid-tempalte-rows: 1fr 1fr;
        }
    }

    }
</style>
<section id="keyword-insight" class="w-full max-w-[1080px]">
    <div class="insight-wrap grid mx-2.5 md:flex my-10 justify-between gap-2.5">
        <div class="insight-main md:w-3/4 bg-white p-8 grid rounded-2xl shadow-4xl gap-5">
            <div class="text-2xl font-bold break-keep">
                "{{ keyword.name }}" 단어는 최근 <b id="count-word" data-target="{{keyword.count}}"></b>번 언급되었습니다.
            </div>
            <div>
                <div class="text-xl font-semibold mb-2">
                    날짜별 언급량
                </div>
            {% for k, v in date_graph%}
                <div class="flex flex-row gap-5 items-center indent-5">
                    <div class="text-base my-0.5 min-w-[75px]">{{k}}</div>
                    <div style="width:{{v}}%;" class="graph-bar h-[12px] bg-green rounded-2xl">
                    </div>
                </div>
            {% endfor %}
            <script>
                const bar = document.querySelectorAll('.graph-bar');
                bar.forEach((e)=>{
                    e.style.setProperty('--width', e.style.width);
                });
            </script>
            </div>
            <div class="text-xl font-semibold">
                관련분야
            </div>
            <div class="flex flex-wrap">
                <!--관련 태그 리스트 가져오기-->
                {% for tag in related_tag %}
                    <a class="py-1 px-3 h-[30px] rounded-lg bg-active-gray text-white m-1">
                        {{tag.class1}}>{{tag.class2}}
                    </a>
                {% endfor %}
            </div>
            <div class="text-xl font-semibold">
                관련뉴스
                <br>
                {%for each in news %}
                    {% include "partial/newsCardVertical.html" with news=each %}
                {%endfor%}
            </div>
        </div>
        <div class="insight-wordcloud md:w-1/4 gap-2.5 flex flex-col rounded-2xl shadow-4xl bg-[#FAFAFA] p-5 divide-solid">
            <div class="text-xl font-semibold mb-1.5">
                주요 관련 단어
            </div>
            <!--관련단어 및 점수 리스트 object 가져오기-->
            {% for key, value in relation_keyword.items %}
                <a href="{% url "WORDSIGHT:search" %}?q={{key}}" 
                style="font-size:{{40|mul:value}}px"
                class="text-xl text-point{{forloop.counter}} font-semibold hover:translate-x-2 focus:translate-x-2 transition-all" 
                name="relate-word">
                    {{key}}
                </a>
            {% endfor %}
        </div>
    </div>

    {% block pagenation %}

    <div class="pagination w-full my-5">
        <span class="step-links w-full flex justify-center items-stretch">
            {% if page_obj.has_previous %}
                
                <a href="?q={{keyword.name}}&page=1" class="select_button">
                    처음
                </a>
                &nbsp;
                <a href="?q={{keyword.name}}&page={{ page_obj.previous_page_number }}" class="select_button flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16.004" viewBox="0 0 20 16.004">
                        <path id="패스_23" data-name="패스 23" d="M26.75,16.856H11.925l4.538-4.983a1.077,1.077,0,0,0-.163-1.612,1.332,1.332,0,0,0-1.762.149l-6.25,6.858a1.342,1.342,0,0,0-.113.171c0,.057,0,.091-.087.149A1.038,1.038,0,0,0,8,18H8a1.038,1.038,0,0,0,.087.411c0,.057,0,.091.087.149a1.342,1.342,0,0,0,.113.171l6.25,6.858A1.3,1.3,0,0,0,15.5,26a1.317,1.317,0,0,0,.8-.263,1.126,1.126,0,0,0,.45-.777,1.1,1.1,0,0,0-.287-.834l-4.538-4.983H26.75a1.148,1.148,0,1,0,0-2.286Z" transform="translate(-8 -9.996)" fill="#231f20"/>
                    </svg>
                </a>
            {% endif %}
            {% if page_obj.number %}
                <span class="current-page select_button">
                    {{ page_obj.number }}
                </span>
            {% endif %}
            {% if page_obj.has_next %}
            
                <a href="?q={{keyword.name}}&page={{ page_obj.next_page_number }}" class="select_button flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16.004" viewBox="0 0 20 16.004">
                        <path id="패스_26" data-name="패스 26" d="M9.25,19.144H24.075l-4.538,4.983a1.077,1.077,0,0,0,.163,1.612,1.332,1.332,0,0,0,1.763-.149l6.25-6.858a1.342,1.342,0,0,0,.112-.171c0-.057.063-.091.087-.149A1.038,1.038,0,0,0,28,18h0a1.038,1.038,0,0,0-.087-.411c0-.057-.063-.091-.087-.149a1.342,1.342,0,0,0-.112-.171l-6.25-6.858A1.3,1.3,0,0,0,20.5,10a1.317,1.317,0,0,0-.8.263,1.126,1.126,0,0,0-.45.777,1.1,1.1,0,0,0,.287.834l4.538,4.983H9.25a1.148,1.148,0,1,0,0,2.286Z" transform="translate(-8 -10)" fill="#231f20"/>
                    </svg>
                </a>
                &nbsp;
                <a href="?q={{keyword.name}}&page={{ page_obj.paginator.num_pages }}" class="select_button">
                    마지막
                </a>
            {% endif %}
        </span>
    </div>
    {% endblock %}
</section>
<script>
    const counter = document.querySelectorAll("#count-word")[0];
    counter.innerText = "0";
    const updateCounter = () => {
        const target = +counter.getAttribute("data-target");
        const count = +counter.innerText;
        const increment = target / 200;
        if (count < target) {
        counter.innerText = `${Math.ceil(count + increment)}`;
        setTimeout(updateCounter, 1);
        } else counter.innerText = target;
    };
    updateCounter();
</script>
{% endblock%}

