<footer class="w-full flex justify-center">
    <div class= "w-full max-w-[1080px] flex flex-col text-white my-5 gap-2.5 mx-2.5">
        <div class="text-xl font-black">
            WORDSIGHT
        </div>
        <div class="break-keep">
            Data Engineering Dev Course Web Crawling Project
        </div>
        <div class="grid grid-flow-col auto-cols-min">
            <div class="min-w-[60px]">
                제작자:
            </div>
            <div class="flex flex-col min-w-[150px] gap-1">
                <div>강다혜 @kangdaia</div>
                <div>김현지 @hyeonji32 </div>
                <div>박태준 @ih-tjpark </div>
                <div>조윤지 @joyunji </div>
            </div>
        </div>
        <div class="self-baseline">
            Copyright 2023. WORDSIGHT
        </div>
    </div>
</footer>