<header>
    <a href="{% url "WORDSIGHT:index" %}" class="logo-wrap logo-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="275" height="48" viewBox="0 0 275 48">
            <g id="그룹_102" data-name="그룹 102" transform="translate(-340 -16)">
              <text id="WORDSIGHT" transform="translate(388 47)" font-size="28" font-family="SDPress-aOriginal, Sandoll Press Original"><tspan x="0" y="0">WORDSIGHT</tspan></text>
              <g id="그룹_18" data-name="그룹 18" transform="translate(388 16) rotate(90)">
                <path id="패스_11" data-name="패스 11" d="M22.981,10A22.03,22.03,0,0,0,4.175,20.6a.554.554,0,0,0,0,.591,21.986,21.986,0,0,0,37.611,0,.554.554,0,0,0,0-.591A22,22,0,0,0,22.981,10Z" transform="translate(0 3.109)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                <path id="패스_12" data-name="패스 12" d="M30,24a6,6,0,1,1-6-6A6,6,0,0,1,30,24Z" transform="translate(-1 -0.109)" fill="rgba(0,0,0,0)" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                <path id="패스_13" data-name="패스 13" d="M0,0H48V48H0Z" fill="none"/>
              </g>
            </g>
        </svg>
    </a>

</header>